body {
  margin: 0px;
  padding: 0px;
  background-color: #fafafa;
  font-family: "Open Sans", sans-serif;
}

ol,
ul,
h1,
h2,h3,h4,h5,h6, figure {
  margin: 0px;
  padding: 0px;
}

button {
  color: #fafafa;
  background-color: rgb(201, 27, 100);
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 300ms all;
  margin-top: 30px;
}

button:hover {
  background-color: rgb(177, 21, 86);
  transform: scale(1.02);
}

.a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: black;
  align-items: center;
  display: flex;
  height: 80px;
}

.container {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
  width: 1400px;
  margin: 0px 60px;
}

.header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.header-menu {
  background-image: url("/IMG/cover.jpg");
  background-position: bottom;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
}

.header-menu-nav,.header-menu-social {
  display: inherit;
  margin: 0px;
  padding: 0px;
  align-items: center;
  background-image: url("/IMG/hover.png");
  height: 80px;
}

.header-menu-option {
  display: flex;
  align-items: center;
  font-size: 17px;
  font-family: calibri black;
  padding: 0px 10px;
}

.header-menu-option > img {
  width: 30px;
  height: 25px;
}

.header-menu-option:hover,
.redes:hover {
  background-image: url("/IMG/hover.png");
  height: 80px;
}

.header-icono-contenedor {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-icono {
  position: absolute;
  margin-top: -66px;
}

.header-icono img {
  display: block;
  height: 100px;
  width: 100px;
  border: 8px solid #fafafa;
  border-radius: 50%;
}

.header-titulo {
  display: flex;
  justify-content: center;
  margin-top: -7.2%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
}

.hero {
  display: flex;
  justify-content: space-between;
  height: 480px;
}

.hero-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero-details h1 {
  font-size: 50px;
  margin: 0px;
}

.hero-details h2 {
  font-size: 30px;
  margin: 20px 0px;
}

.hero-image > img {
  width: 400px;
  height: 400px;
  margin: 0px;
}

.hero-image {
  margin-top: 80px;
}

.artportfolio {
  display: flex;
  justify-content: space-between;
  background-image: url("/IMG/box.png");
}

.artportfolio-gallery {
  display: inherit;
  width: 68%;
  margin: 20px 15px;
}

.artportfolio-gallery-two {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.artportfolio-gallery-photo1,
.artportfolio-gallery-photo4 {
  width: 370px;
  height: 590px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: 300ms all;
}

.artportfolio-gallery-photo1:hover,
.artportfolio-gallery-photo4:hover,
.artportfolio-gallery-photo2:hover,
.artportfolio-gallery-photo3:hover {
  transform: scale(1.02);
}

.artportfolio-gallery-photo4 {
  margin-left: 5px;
}

.artportfolio-gallery-photo2,
.artportfolio-gallery-photo3 {
  width: 290px;
  height: 290px;
  margin: 5px 5px;
  transition: 300ms all;
}

.artportfolio-details {
  display: inherit;
  flex-direction: column;
  margin-right: 60px;
  align-items: flex-end;
  justify-content: center;
}

.artportfolio-details p{
  margin: 0px;
  width: 350px;
  direction: rtl;
}

.gamesportfolio{
  background-image: url("/IMG/Juego.png");
  background-repeat: no-repeat;
  background-position: 90%;
  display: flex;
  height: 620px;
  align-items: center;
  margin: 25px 0px;
}

.gamesportfolio-details p{
  margin: 0px;
  width: 400px;
}

.commission{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("/IMG/comision.png");
  background-repeat: no-repeat;
  height: 1350px;
}

.commission-tittle{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  height: 150px;
}

.commission-cards{
  display: flex;
}

.commission-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.11);
  margin: 12px;
  padding: 5px;
  height: 400px;
  width: 350px;
  transition: 300ms all;
}

.commission-card:hover{
  transform: scale(1.02);
}

.commission-tittle > h1{
  font-size: 50px;
}

.commission-card-image > img{
  height: 270px;
  width: 270px;
}

.commission-card-description{
  width: 79%;
}

.footer {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  background: rgb(208, 210, 226);
  background: linear-gradient(
    90deg,
    rgba(208, 210, 226, 1) 0%,
    rgba(252, 198, 222, 1) 32%,
    rgba(250, 228, 238, 1) 50%,
    rgba(252, 198, 222, 1) 65%,
    rgba(208, 210, 226, 1) 100%
  );
  font-size: 17px;
  font-family: calibri black;
}

.footer-social > img{
  height: 30px;
  width: 35px;
  margin: 0px 10px;
}

.footer-nav{
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: 40px;
}

.footer-icon >img{
  width: 110px;
}